* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#app {
  min-height: 100vh;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}